/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;


   
}

.ytv {


   
   flex-wrap: wrap;
   flex: auto;

   
   
}
.ytv__bottom {
    justify-content: baseline;
    flex-wrap: wrap;
    align-content: baseline;
}
.ytv__left {
   display: flex;
   align-content: baseline;
   align-items: center;
   

}
.ytv__right {
   display: flex;
   align-items: baseline;
   justify-content: flex-end;
   align-content: flex-end;
}
.profile {
    
}
.profile__text {
    
}
.icon {

}
.btn--flex {

   display: flex;
}

