/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   flex-wrap: wrap;
   display: flex;
   justify-content: center;
   align-content: center;
   
}

.ytv {
   

   align-content: flex-end;
   
}
.ytv__bottom {

   display: flex;
   align-items: flex-end;

   

}
.ytv__left {
   gap: 1em;
   display: flex;
   align-items: center;
   

}
.ytv__right {
   gap: 1em;
   display: flex;
   align-items: baseline;
   justify-content: flex-end;

}
.profile {
    display: flex;
    gap: 1em;
    align-items: center;
}
.profile__text {
   align-content: center;
}
.icon {

}
.btn--flex {

   display: flex;

}

